# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!src
!src/controllers
!src/models

!WebContent
!WebContent/WEB-INF/SFSS


!*.txt
!*.md


# MAC HIDDEN FILES
.DS_Store


#Additional Specific files to Ignore