# Ignore everything
*

# But do not Ignore these files...
!.gitignore

!See-Food_Website

!See-Food_Website/**

!/Serves/**
!Servers/**




!*.txt
!*.md



#Additional Specific files to Ignore
=======
#Ignore ALL files.
*
.DS_Store

#Do NOT ignore these files.
!.gitignore
!SeeFoodWorkspace/See-Food/src/**
!SeeFoodWorkspace/See-Food/WebContent/WEB-INF/SFSS/**
